<div class='calendar_element'>
	<app-year [years]='correct_years'></app-year>
	<div class='calendar'>
		<table>
			<tr *ngFor='let month of correct_months'>
				<app-month [month_view]='month'></app-month>
			</tr>
		</table>
		<table>
			<tr>
				<th *ngFor='let day of correct_days'>
					{{day}}
				</th>
			</tr>
			<tr *ngFor='let week of correct_month_dates'>
				<th *ngFor='let date of week'>
					<app-day [date_view]='date'></app-day>
				</th>
			</tr>
		</table>
	</div>
</div>

<app-button-nav [herf_forward]='herf_forward'></app-button-nav>