<table>
	<tr>
		<th>Дата</th>
		<th>Статус</th>
		<th>Имя</th>
		<th>Телефон</th>
		<th>Кол-во Людей дет/взрос</th>
		<th>Время</th>
		<th>Услуга</th>
	</tr>
	<tr *ngFor='let i of page_requests'>
		<th>{{i.date}}</th>
		<th>{{i.request_status}}</th>
		<th>{{i.first_name}} {{i.second_name}}</th>
		<th>{{i.telephone}}</th>
		<th>{{i.children_amount}}/{{i.adult_amount}}</th>
		<th>{{i.clocks[0]}} - {{i.clocks[i.clocks.length - 1]}}</th>
		<th>{{i.service_type}}</th>
	</tr>
</table>

<app-pagination></app-pagination>
