<form [formGroup]='request_form' (ngSubmit)='onGetCode()'>
	<div>
		<label>Имя*</label>
		<input type='text' formControlName='first_name'>
	</div>
	<div>
		<label>Фамилияя*</label>
		<input type='text' formControlName='second_name'>
	</div>
	<div>
		<label id='telephone-label'>Телефон*</label>
		<input id='telephone-input' type='text' formControlName='telephone' placeholder="+7 989-800-712">
	</div>
	<div>
		<label>Услуга*</label>
		<select formControlName='service_type'>
			<option>2</option>
			<option>1</option>
		</select>
	</div>
	<div>
		<label>Количество детей*</label>
		<input type='text' formControlName='children_amount'>
	</div>
	<div>
		<label>Количество взрослых*</label>	
		<input type='text' formControlName='adult_amount'>
	</div>
	<div>
		<label>Расположение столов</label>
		<input type='text' formControlName='table_type'>
	</div>
	<button id='button-send-sms'> Отправить </button>
</form>

<div *ngIf='code_form_flag'>
	<h2>Введие код подтверждения</h2>
	<input type='text' [formControl]='code_form'>
	<button (click)='onSendCode()' routerLink={{herf_forward}}> Далее </button>
</div>
